* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

header {
  align-items: center;
  background-color: #1f1f3d;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  margin-left: 13px;
}

.header__yo {
  color: #ffc30c;
}

.header__search--input {
  border-radius: 3px;
  font-size: 18px;
  height: 55px;
  margin-right: 15px;
  padding-left: 10px;
  width: 350px;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  background-color: #587a8a;
  border-right: 3px solid #3c6577;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 33%;
}

.aside__tasks--form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  border-bottom: 2px solid #3c6577;
}

.aside__input--label {
  color: #c7d3d8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 3.5%;
  align-self: flex-start;
}

.aside__input {
  border: 2px solid #1f1f3d;
  border-radius: 3px;
  height: 60px;
  margin-bottom: 35px;
  width: 91%;
  font-size: 18px;
  color: #3c6577;
  padding-left: 10px;
}

.input__img--block {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 93%;
}

.aside__item--input {
  border-radius: 3px 0 0 3px;
  width: 110%;
}

.list__display--area {
  color: #fff;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

li {
  list-style-type: none;
}

.list__items {
  display: flex;
}

.list__delete--img {
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.item__unchecked {
  height: 20px;
  width: 20px;
}

.input__plus--img {
  height: 36px;
  width: 35px;
  background-color: #1f1f3d;
  border: 14px solid #1f1f3d;
  border-radius: 0 3px 3px 0;
  border-left: 14px solid #1f1f3d;
}

.aside__bottom {
  margin-left: 7%;
  margin-top: 40px;
  width: 100%;
}

.aside__btn {
  background-color: #1f1f3d;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  height: 60px;
  margin-bottom: 25px;
  width: 93%;
}

.aside__clear--btn {
  margin-bottom: 40px;
}


.main__card--container {
  display: flex;
  background-color: #f3f6f7;
  width: 67%;
  height: 100%;
  float: right;
  position: fixed;
  margin-left: 33%;
  padding: 20px;
}

.task__card {
  column-width: 13em;
  border: 3px solid #c7d3d8;
  height: 50%;
  width: 40%;
  background-color: #fafdff;
}

.task__card--header {
  font-size: 25px;
  font-weight: 700;
  color: #1f1f3d;
  height: 12%;
}

.task__card--header > p {
  margin-top: 15px;
  margin-left: 15px;
}

.card__body--list {
  height: 62%;
  border-top: 3px solid #c7d3d8;
  border-bottom: 3px solid #c7d3d8;
}

.card__body--yellow {
  border-top: 3px solid #ffc30c;
  border-bottom: 3px solid #ffc30c;
}

.task__card--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 21%;
}

.task__card--footer > p {
  margin: 15px;
  align-self: flex-end;
  color: #587a8a;
  font-weight: 600;
}

.card__footer--img {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card__img--block {
  height: 60px;
  width: 60px;
  padding: 10px;
  align-content: center;
}

.card__yellow {
  background-color: #ffe89d;
  border: 3px solid #ffc30c;
}

